<div id="page-wrapper">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Organizations</h1>
      <button class="btn btn-success" style="float: right;margin-bottom: 10px;" (click)="create()">Create</button>
    </div>

  </div>
  <div id = "list" ng-show="createId == 0">
    <div class="row">
      <table class="table table-bordered" matSort (matSortChange)="sortData($event)">
        <thead>
        <tr>
          <th mat-sort-header="id">Id</th>
          <th mat-sort-header="name">Name</th>
          <th mat-sort-header="email">Email</th>
          <th mat-sort-header="phone">Phone</th>
          <th mat-sort-header="location">Location</th>
          <th>Action</th>
        </tr>
        </thead>
        <tbody>
          <tr *ngFor="let org of organization" >
            <td>
              {{org.id}}
            </td>
            <td >
              {{org.name}}
            </td>
            <td >
              {{org.email}}
            </td>
            <td >
              {{org.phone}}
            </td>
            <td >
              {{org.location}}
            </td>
            <td>
              <button class="btn btn-danger" (click)="delete(org.id);">Delete</button>&nbsp;&nbsp;
              <button class="btn btn-accept" (click)="edit(org);">Edit</button>
              <button class="btn btn-info" (click)="personate(org);">Personate</button>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="4">
              <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25,100]"></mfBootstrapPaginator>
            </td>
          </tr>
        </tfoot>
      </table>

    </div>
    <br><br>
  </div>
