/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body{
  background: url("assets/images/back.jpg");
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  position: absolute;
  height: 100%;
  width: 100%;
}

.icon_style{
  position: absolute;
  right: 15px;
}
